aiohttp
async-lru
attrs
bcrypt
certifi
chardet
click
cryptography
dash==2.16.1
dash-bootstrap-components==1.6.0
dash-core-components==2.0.0
dash-html-components==2.0.0
dash-table==5.0.0
flask
future
gunicorn
idna
importlib-metadata
itsdangerous
jinja2
jsonschema
markupsafe
matplotlib
numpy
packaging
pandas
plotly
prompt-toolkit
protobuf==3.20.3
pyasn1
pycparser
pygments
pymysql
pyparsing
pytz
requests
retrying
rsa
scipy
setuptools
six
sqlalchemy
tornado
urllib3
wcwidth
werkzeug
wheel
wordcloud

